.se-pre-con {
    background: url(/storage/Preloader_4.gif) center no-repeat #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

table{
    width: 100%;
}

.solitude {
    background-color: #e7eaec;
}

#lineChart {
    display: block;
    width: 100%;
}
